/* Reset some default browser styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; /* Use a clean, modern font */
  background-color: #ff77f8; /* Matches the background of the app */
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Scrollbar styling (optional, for modern look) */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #f0f4f8; /* Light background color */
}

body::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar color */
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker on hover */
}
